.main {
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10em;
    text-align: center;
  }
  .register {
    width: 40%;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
  .btns button {
    margin-top: 1em;
   width: 100%;
  }
  .bt-cadastrar{
    margin-left: 1em;
  }

  
  .form-group {
    margin-top: 1em;
    display: flex;
  }
  
  
  @media only screen and (max-width: 950px) {
    .main {
      flex-direction: column;
      width: 100%;
    }
    .register {
      height: auto;
      width: 100%;
      margin-bottom: 5em;
    }
  
    .btns {
      display: flex;
      justify-content: space-around;
    }
    .btns button {
      width: 50%;
      height: auto;
    }
    .vr{
        display: none;
    }
  }
  