<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Agenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="register">
                <div class="title">
                    <h1>Entrar</h1>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="email" placeholder="E-mail" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="senha" placeholder="Senha" />
                </div>

                <div class="btns">
                    <button class="btn btn-primary btn-lg" (click)="save()">Entrar</button>
                </div>
            </div>
            <div class="vr"></div>
            <div class="register">
                <div class="title">
                    <h1>Cadastrar</h1>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="sobrenome" placeholder="Sobrenome" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="email" placeholder="E-mail" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="senha" placeholder="Senha" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="con-senha"
                        placeholder="Confirmar senha" />
                </div>
                <div class="btns">
                    <button id="cancel" class="btn btn-secondary btn-lg">Cancelar</button>
                    <button class="btn btn-primary btn-lg bt-cadastrar" (click)="save() ">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>

</body>

</html>